
<div class="grid rounded-2xl sm:grid-cols-2 md:grid-cols-3">

<div class="mb-4 p-8 flex items-center justify-center max-w-[90vw]">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
              
                    <img alt="Card" class="w-full" src="logo.png" />
                
            </p-card>
        </div>
        <div class="mb-4 p-8 flex items-center justify-center max-w-[90vw]">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
              
                    <img alt="Card" class="w-full" src="logo.png" />
                
            </p-card>
        </div>
        <div class="mb-4 p-8 flex items-center justify-center max-w-[90vw]">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
              
                    <img alt="Card" class="w-full" src="logo.png" />
                
            </p-card>
        </div>
        </div>