        <div class="card">
            
            <p-drawer header="Match detail" [(visible)]="visible4" position="bottom" [style]="{ height: 'auto' }">
                        <div class=" border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                    <div class="grid grid-cols-[2fr_6fr_2fr] ">
                             <div class="m-auto">
                                            <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/83.png" class="h-24" alt="">
                                            <p class="text-center">Barcelona</p>
                    </div>
                    <div class="text-4xl flex flex-row justify-evenly  my-auto"><div>2</div><div>-</div><div>1</div></div>          <div class="m-auto">
                                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/960px-Real_Madrid_CF.svg.png" class="h-24" alt="">
                                            <p class="text-center ">Real Madrid</p>
                    </div>
                    </div>
               


                   </div>
            </p-drawer>
         
            <div class="flex gap-2 justify-center">
                <p-button type="button" (click)="visible4 = true" icon="pi pi-arrow-up" >open</p-button>
            </div>
        </div>